*{
    box-sizing: border-box;
    margin: 0 auto;
}
.row::before,
.row::after {
	content:"";
	display: table ;
	clear: both;
}

[class*="col-"] {
    min-height: 1px;
    float:left;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1138px;
    margin: 0 auto;
}
@mixin setFont($font-family, $font-weight, $font-size, $color){
   font-family: $font-family;
   font-weight: $font-weight;
   font-size: $font-size;
   color: $color;
} 


header{
    height: 150px;
    position: relative;
        
        ul{
            position: absolute;
            top: 101px;
            left: 495px;    
            li{
                display: inline-block;
                a{
                    @include setFont(Roboto, 300, 20px, black);
                    text-decoration: none;
                    padding-left: 24px;
                }
            }
        } 
        .header__logo{
            margin-top: 45px;
        }
        .header__contacts{
            position: absolute;
            top: 33px;
            left: 646px;
            @include setFont(Roboto, 300, 22px, black);
            .fas{
                font-size: 26px;
                color: #00ff72;
            }
            .fa-phone{
                padding-left: 44px;
            }
        }    
}

.main{
    background-image: url(warstwa-2.png);
}

.main__jumbotron{
    height: 600px;
    position: relative;
   
    line-height: 71.41px;
    .jumbotron__slogan{
        position: absolute;
        top: 149px;
        left: 322px;
        text-transform: uppercase;
         p:nth-child(1){
            @include setFont(Roboto, 700, 66px, #1b5478);
                }
         
                p:nth-child(2){
            @include setFont(Roboto, 300, 66px, #1b5478);
                   }
    }
    .jumbotron__slogan--lower{
        position: absolute;
        top: 339px;
        left: 322px;
        p {
            @include setFont(Roboto, 400, 38px, white);
            padding: 15px 30px 13px 27px;
            background-color: #3a7fab;
          } 
    }
}
.about{
    position: relative;
}

.about__rectangle{
    float: left;
    p{
    background-color: #00ff72;
    @include setFont(Roboto, 400, 32px, white);
    padding: 22px 206px 20px 23px;   
    }
}
.content{
    position: absolute;
    top: 125px;
    max-width: 820px;
    left: 329px;
    display: flex;
    p{
        @include setFont(Roboto, 300, 22px, black);
        line-height: 35px;
        span{
            font-weight: 400;
        }
    }
    hr{
        position: absolute;
        top: 660px;
        background-color: green;
        height: 1px;
    }
    .contact__left{
        position: absolute;
        top: 707px;
        margin-bottom: 118px;
        p{
        @include setFont(Roboto, 300, 18px, #a7a7a7 );
        }
    }
    .contact__right{
        position: absolute;
        top: 707px;
        left: 617px;
        text-align: right;
        p{
            @include setFont(Roboto, 300, 18px, #a7a7a7 );
        }
    }
}


























@media (max-width: 767px){
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media (min-width: 768px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
